In [1]:
# Import dependencies
import pandas as pd
from statsmodels.stats.proportion import test_proportions_2indep

In [2]:
# Import csv file as a dataframe
df = pd.read_csv("vine_table.csv")
df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R3O9SGZBVQBV76,5,0,0,N,Y
1,RKH8BNC3L5DLF,5,0,0,N,Y
2,R2HLE8WKZSU3NL,2,1,1,N,Y
3,R31U3UH5AZ42LL,5,0,0,N,Y
4,R2SV659OUJ945Y,4,0,0,N,Y
...,...,...,...,...,...,...
960867,REH8UQZAXQS40,2,17,17,N,N
960868,RJ14QPZEOI9P8,5,9,10,N,N
960869,R2B1G5650WWFCE,5,3,16,N,N
960870,R2MMGPUWXXOFI2,4,0,0,N,N
960871,R2BZMVAERMRUDE,4,5,7,N,N

In [3]:
# Check datatypes
df.dtypes

review_id            object
star_rating           int64
helpful_votes         int64
total_votes           int64
vine                 object
verified_purchase    object
dtype: object

In [4]:
# Check for columns for null values
df.isnull().sum()

review_id            0
star_rating          0
helpful_votes        0
total_votes          0
vine                 0
verified_purchase    0
dtype: int64

In [5]:
# Filter the data for reviews with a total number of votes greater than or equal to 20
df_filter1 = df.loc[df['total_votes']>=20]
df_filter1

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
478,R14W2VCHHK5V7W,5,19,20,N,Y
552,R1S3T57O3OYT5S,5,19,20,N,Y
619,R1BTWIBLYYVOV7,5,30,30,N,Y
1025,R6F9VY91ADPLA,1,8,30,N,N
1548,R3PXNV89DFIXKV,5,35,37,N,Y
...,...,...,...,...,...,...
960838,R7NJYD6L80A8,5,20,21,N,N
960851,R1721LXOWD6H3C,1,11,27,N,N
960860,R37CF8J75KF7ZR,2,35,66,N,N
960863,R1W6TRBVZSPGCJ,1,20,20,N,N
960866,R1LGRK91D2CS4N,4,32,39,N,N

In [6]:
# Filter the previous dataframe for reviews whose ratio of helpful to total votes is at least 50%
df_filter2 = df_filter1.loc[(df_filter1['helpful_votes']/df_filter1['total_votes'])>= 0.5]
df_filter2

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
478,R14W2VCHHK5V7W,5,19,20,N,Y
552,R1S3T57O3OYT5S,5,19,20,N,Y
619,R1BTWIBLYYVOV7,5,30,30,N,Y
1548,R3PXNV89DFIXKV,5,35,37,N,Y
1573,R2ZF9NYVT3J7D6,5,19,22,N,Y
...,...,...,...,...,...,...
960811,R3C9623WIPWVMB,5,56,58,N,N
960838,R7NJYD6L80A8,5,20,21,N,N
960860,R37CF8J75KF7ZR,2,35,66,N,N
960863,R1W6TRBVZSPGCJ,1,20,20,N,N
960866,R1LGRK91D2CS4N,4,32,39,N,N

In [7]:
# Filter the previous dataframe for reviews that were written as part of the vine program (paid)
df_paid = df_filter2.loc[df_filter2['vine']=='Y']
df_paid

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
4122,R1B7M0OP3UNP6O,5,49,52,Y,N
334756,R2UUV4UGGYMQG8,5,34,39,Y,N
428946,R9K0LZV2BK9YY,4,37,39,Y,N
477323,R2OVFLNEUEGTJM,3,18,25,Y,N
664604,RBE09ELJ77LQ0,5,44,45,Y,N
664708,R3867T8AIJJHM6,5,26,27,Y,N
670569,R1FNVUXPU63WOZ,4,43,48,Y,N
675842,R25XGG2G12SE1Z,4,20,23,Y,N
675878,R3JKU4HRDFZDH,4,27,30,Y,N
675929,R2PQYOCJXRB1BF,5,26,28,Y,N
683116,R1JBQ8UBLA8N4X,4,349,370,Y,N
685323,R2I01ZYMO0GYP1,4,107,121,Y,N
688281,R297GF8EF7AXPO,2,22,30,Y,N
689121,R2OFG89WKPLHGU,5,54,60,Y,N
689795,R13PI8O4697CEV,4,135,144,Y,N
695639,R223MX62JYWUOY,4,20,21,Y,N
697894,RTSXZ0HZF623M,3,13,22,Y,N
739529,R1OB4GCKEYGV9I,4,61,90,Y,N
785616,R1YBNRRUD5WCG4,5,15,20,Y,N
787153,R3L4Z6NK2Z4OV5,2,24,33,Y,N
787670,R3LRMV7GANS3MX,3,40,50,Y,N
805529,R2I8W8DX6YIDVK,3,22,26,Y,N
805869,R33Y1P0VTKF46V,5,18,22,Y,N
823873,R2VUWQQBXC9MW9,5,47,51,Y,N
836851,R2PGKWCC0DJNO4,5,23,24,Y,N
837400,R2B8V45UKGS96Q,4,25,26,Y,N
840534,R1VTSAJEQNFBJE,4,23,29,Y,N
841329,R3HDDNR7XJ5PG6,4,29,31,Y,N
841404,R1GI7VUS1L7NWF,4,17,22,Y,N
842121,R2MEXGFT2R9U1D,4,32,36,Y,N
843417,R1VPI6UTL1K31V,5,27,29,Y,N
843463,R131OFSBT1U9QT,4,54,68,Y,N
844625,RMEMUGWUX63KU,5,34,36,Y,N
845108,R3OWVKWQASMEUR,3,38,41,Y,N
845160,R23JRHQ7CL6T6Y,2,19,21,Y,N
847162,RTU8HCIK1EFSJ,4,18,20,Y,N
851508,R39Q51GM18UUKP,4,18,20,Y,N
852103,RQ0VM79JA4P5C,4,19,22,Y,N
852421,REZLEYIW61ZA1,1,26,29,Y,N
852458,R1BUGLZDTZKIHY,4,79,82,Y,N
854968,RPEOU3CJEX7BZ,4,21,24,Y,N
855221,R1ZZVRDZ4GOH54,3,81,92,Y,N
855480,R27BTNRK8JK7U5,3,16,20,Y,N
856045,R2UGJVWDAPAFN3,1,24,27,Y,N
856195,R3TZBND29248V0,5,66,71,Y,N
861436,R5G8T9UNLDU5A,5,44,44,Y,N
863017,R33HPSRJ5K3RHP,5,19,22,Y,N

In [8]:
# Filter df_filter2 for reviews that were NOT written as part of the vine program (unpaid)
df_unpaid = df_filter2.loc[df_filter2['vine']=='N']
df_unpaid

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
478,R14W2VCHHK5V7W,5,19,20,N,Y
552,R1S3T57O3OYT5S,5,19,20,N,Y
619,R1BTWIBLYYVOV7,5,30,30,N,Y
1548,R3PXNV89DFIXKV,5,35,37,N,Y
1573,R2ZF9NYVT3J7D6,5,19,22,N,Y
...,...,...,...,...,...,...
960811,R3C9623WIPWVMB,5,56,58,N,N
960838,R7NJYD6L80A8,5,20,21,N,N
960860,R37CF8J75KF7ZR,2,35,66,N,N
960863,R1W6TRBVZSPGCJ,1,20,20,N,N
960866,R1LGRK91D2CS4N,4,32,39,N,N

In [9]:
# Create a summary table for paid reviews
paid_summary_df = df_paid.groupby('star_rating').count().loc[:,['review_id']]
total_paid = paid_summary_df['review_id'].sum()
paid_summary_df['percentage'] = (paid_summary_df['review_id']/(total_paid)*100).map("{:.2f}%".format)
paid_summary_df.columns = ['count_paid', 'percentage_paid']
paid_summary_df

             count_paid percentage_paid
star_rating
1                     2           4.26%
2                     3           6.38%
3                     7          14.89%
4                    20          42.55%
5                    15          31.91%

In [10]:
# Create a summary table for unpaid reviews
unpaid_summary_df = df_unpaid.groupby('star_rating').count().loc[:,['review_id']]
total_unpaid = unpaid_summary_df['review_id'].sum()
unpaid_summary_df['percentage'] = (unpaid_summary_df['review_id']/(total_unpaid)*100).map("{:.2f}%".format)
unpaid_summary_df.columns = ['count_unpaid', 'percentage_unpaid']
unpaid_summary_df

             count_unpaid percentage_unpaid
star_rating
1                    1398            16.72%
2                     536             6.41%
3                     764             9.14%
4                    1332            15.93%
5                    4332            51.81%

In [11]:
# Create a summary for total reviews
total_summary_df = pd.DataFrame({'Total_Paid_Reviews':[total_paid],'Total_Unpaid_Reviews':[total_unpaid]})
total_summary_df

   Total_Paid_Reviews  Total_Unpaid_Reviews
0                  47                  8362

# Hypothesis Testing  on the Difference of Two Proportions of 5 Star Ratings from 2 Independent Populations (Paid and Unpaid)

In [12]:
# Two-tailed Test 

# Let P1 = proportion of 5 star ratings from paid reviews
# Let P2 = proportion of 5 star ratings from unpaid reviews

# H0: P1-P2 = 0 
# H1: P1-P2 != 0 

count1 = paid_summary_df.loc[5,'count_paid']
nobs1 = total_paid
count2 = unpaid_summary_df.loc[5,'count_unpaid']
nobs2 = total_unpaid

pval1 = test_proportions_2indep(count1, nobs1, count2, nobs2,compare = 'diff', alternative = 'two-sided', return_results = False)[1]

test_proportions_2indep(count1, nobs1, count2, nobs2,compare = 'diff', alternative = 'two-sided')

<class 'statsmodels.stats.base.HolderTuple'>
statistic = -2.849432868258803
pvalue = 0.00437972474113937
compare = diff
method = agresti-caffo
diff = -0.19890894471952647
ratio = 0.6160488006129546
odds_ratio = 0.4360716759002771
variance = 0.004517776985671745
alternative = two-sided
value = 0
tuple = (-2.849432868258803, 0.00437972474113937)

In [13]:
# One-tailed Test 

# Let P1 = proportion of 5 star ratings from paid reviews
# Let P2 = proportion of 5 star ratings from unpaid reviews

# H0: P1-P2 = 0 
# H1: P1-P2 > 0 
count1 = paid_summary_df.loc[5,'count_paid']
nobs1 = total_paid
count2 = unpaid_summary_df.loc[5,'count_unpaid']
nobs2 = total_unpaid

pval2 = test_proportions_2indep(count1, nobs1, count2, nobs2,compare = 'diff', alternative = 'larger', return_results = False)[1]

test_proportions_2indep(count1, nobs1, count2, nobs2,compare = 'diff', alternative = 'larger')

<class 'statsmodels.stats.base.HolderTuple'>
statistic = -2.849432868258803
pvalue = 0.9978101376294303
compare = diff
method = agresti-caffo
diff = -0.19890894471952647
ratio = 0.6160488006129546
odds_ratio = 0.4360716759002771
variance = 0.004517776985671745
alternative = larger
value = 0
tuple = (-2.849432868258803, 0.9978101376294303)

# Hypothesis Testing  on the Difference of Two Proportions of 4 Star Ratings from 2 Independent Populations (Paid and Unpaid)

In [14]:
# Two-tailed Test 

# Let P1 = proportion of 5 star ratings from paid reviews
# Let P2 = proportion of 5 star ratings from unpaid reviews

# H0: P1-P2 = 0 
# H1: P1-P2 != 0 

count1 = paid_summary_df.loc[4,'count_paid']
nobs1 = total_paid
count2 = unpaid_summary_df.loc[4,'count_unpaid']
nobs2 = total_unpaid

pval3 = test_proportions_2indep(count1, nobs1, count2, nobs2,compare = 'diff', alternative = 'two-sided', return_results = False)[1]

test_proportions_2indep(count1, nobs1, count2, nobs2,compare = 'diff', alternative = 'two-sided')

<class 'statsmodels.stats.base.HolderTuple'>
statistic = 3.8017393407307876
pvalue = 0.00014368384688864377
compare = diff
method = agresti-caffo
diff = 0.26623987949538697
ratio = 2.6713947990543736
odds_ratio = 3.9094650205761314
variance = 0.005013935419492734
alternative = two-sided
value = 0
tuple = (3.8017393407307876, 0.00014368384688864377)

In [15]:
# One-tailed Test 

# Let P1 = proportion of 5 star ratings from paid reviews
# Let P2 = proportion of 5 star ratings from unpaid reviews

# H0: P1-P2 = 0 
# H1: P1-P2 > 0 

count1 = paid_summary_df.loc[4,'count_paid']
nobs1 = total_paid
count2 = unpaid_summary_df.loc[4,'count_unpaid']
nobs2 = total_unpaid

pval4 = test_proportions_2indep(count1, nobs1, count2, nobs2,compare = 'diff', alternative = 'larger', return_results = False)[1]

test_proportions_2indep(count1, nobs1, count2, nobs2,compare = 'diff', alternative = 'larger')

<class 'statsmodels.stats.base.HolderTuple'>
statistic = 3.8017393407307876
pvalue = 7.184192344432188e-05
compare = diff
method = agresti-caffo
diff = 0.26623987949538697
ratio = 2.6713947990543736
odds_ratio = 3.9094650205761314
variance = 0.005013935419492734
alternative = larger
value = 0
tuple = (3.8017393407307876, 7.184192344432188e-05)

In [16]:
# Create a summary table of resulting pvalues for each Hypothesis Test
ht_summary_df = pd.DataFrame([{"Pvals from Two_Tailed_Test":pval1, "Pvals from One_Tailed_Test":pval2},{"Pvals from Two_Tailed_Test":pval3, "Pvals from One_Tailed_Test":pval4}])
ht_summary_df['Star_Rating'] = pd.Series(['5_Star', '4_Star'])
ht_summary_df = ht_summary_df.set_index('Star_Rating')
ht_summary_df

             Pvals from Two_Tailed_Test  Pvals from One_Tailed_Test
Star_Rating
5_Star                         0.004380                    0.997810
4_Star                         0.000144                    0.000072